{{- $isFirst := true }}

{{- if not .Date.IsZero -}}
{{- if not $isFirst }}
&nbsp;·&nbsp;
{{- end }}
{{- (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat))) | safeHTML }}
{{- $isFirst = false }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- if not $isFirst }}
&nbsp;·&nbsp;
{{- end }}
{{- i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) }}
{{- $isFirst = false }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- if not $isFirst }}
&nbsp;·&nbsp;
{{- end }}
{{- slice (i18n "words" .WordCount | default (printf "%d words" .WordCount)) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- if not $isFirst }}
&nbsp;·&nbsp;
{{- end }}
{{- . }}
{{- $isFirst = false }}
{{- end }}
